<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBa7LfAhUWJApFYfnyBvC-tuHSc8W3o0qk</string>
	<key>GCM_SENDER_ID</key>
	<string>311842209872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cpsc.5430.module4.CPSC5430-final</string>
	<key>PROJECT_ID</key>
	<string>cpsc5340</string>
	<key>STORAGE_BUCKET</key>
	<string>cpsc5340.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311842209872:ios:068aca1a36595c6aaf1155</string>
</dict>
</plist>